.idea

src/auth/.env.dev
src/auth/secrets.yaml

docker-compose.yml
.env

src/gateway/.env
src/gateway/.env.dev
src/gateway/secrets.yaml

src/converter/.env
src/converter/.env.dev
src/converter/secrets.yaml